body {
    background: #333;
    color: #FFF;
    font-family: sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {padding: 0;margin: 0 0 1em 0;}
img {display: block; margin: 0 auto 2em auto; width: auto;}
li {margin-bottom: 0.5em;}

.container {
    background: #EEE;
    border-style: solid;
    border-color: #222;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    color: #333;
    margin: 2em auto;
    padding: 1em;
    width: calc(100% - 2em);
}

.container.main-title h1 {
    margin: 0;
}

.recipe .recipe-name {
    border-bottom: 1px solid #555;
    padding-bottom: 0.5em;
    text-align: right;
}

.recipe > img {
    width: 100%;
}

.row {display: block;}
.col-1 {flex-grow: 1;}

.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}

@media only screen and (min-width: 1000px) {
    .container {border-left-width: 1px; border-right-width: 1px; width: 900px;}
    .recipe > img { height: 20em; width: auto;}
    .row {display: flex; justify-content: space-between;}
}
